<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />
    
    
<bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" id="dataSource">
	<property value="com.mysql.cj.jdbc.Driver" name="driverClassName"/>
	<property value="jdbc:mysql://localhost:3307/world" name="url"/>
	<property value="root" name="username"/>
	<property value="Bond_007" name="password"/>
</bean>

<!-- Bean definition for StudentJDBCTemplate -->
<bean class="com.Task.services.CityJDBCTemplate" id="cityJDBCTemplate">
	<property name="dataSource" ref="dataSource"/>
</bean>

<bean class="com.Task.services.CountryJDBCTemplate" id="countryJDBCTemplate">
	<property name="dataSource" ref="dataSource"/>
</bean>

</beans>