<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="World" abstract="true">
		<property name="population" value="5555"/>	
	</bean>
	<bean id="India" class="com.springdemo3.CountryPopulation" parent = "World">
		<property name="population" value="1350"/>		
	</bean>
	<bean id="Japan" class="com.springdemo3.CountryPopulation" parent = "World">
		<property name="population" value="1670"/>		
	</bean>
	<bean class="com.springdemo3.PostProcessCountryPopulation">		
	</bean>
</beans>